# normalization (LB 0.343645)

In [1]:
import numpy as np
import pandas as pd

# 0. Introduction of Data

In [2]:
products = pd.read_csv("../data/products.csv")
aisles = pd.read_csv("../data/aisles.csv")
departments = pd.read_csv("../data/departments.csv")
orders = pd.read_csv("../data/orders.csv")
prior = pd.read_csv("../data/order_products__prior.csv")
train = pd.read_csv("../data/order_products__train.csv")
frame_train = pd.read_csv("../data/frame_train.csv")
frame_test = pd.read_csv("../data/frame_test.csv")
userXproduct = pd.read_csv("../data/userXproduct.csv")

### orders.csv

In [3]:
print("Size of orders : ", len(orders))
orders.head()

Size of orders :  3421083

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### order_products_prior.csv

In [4]:
print("Size of prior : ", len(prior))
prior.head()

Size of prior :  32434489

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### products.csv

In [5]:
print("Size of Products : ", len(products))
products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

### frame_train.csv

In [6]:
print("Size of frame of train : ", len(frame_train))
frame_train.head()

Size of frame of train :  8474661

   user_id  order_id  product_id  products
0        1   1187899       17122         0
1        1   1187899         196         1
2        1   1187899       26405         1
3        1   1187899       46149         1
4        1   1187899       14084         0

# 1. orders Information - categorization of order hour

In [7]:
orders['categorized_order_hour_of_day'] = 0
orders.loc[orders['order_hour_of_day']>=9,'categorized_order_hour_of_day'] = 1
orders.loc[orders['order_hour_of_day']>=13,'categorized_order_hour_of_day'] = 2
orders.loc[orders['order_hour_of_day']>=19,'categorized_order_hour_of_day'] = 3
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_order_hour_of_day
0,2539329,1,prior,1,2,8,NaN,0
1,2398795,1,prior,2,3,7,15.0,0
2,473747,1,prior,3,3,12,21.0,1
3,2254736,1,prior,4,4,7,29.0,0
4,431534,1,prior,5,4,15,28.0,2

In [8]:
orders = orders.join(pd.get_dummies(orders['categorized_order_hour_of_day'], prefix='categorized_hour'))
orders.drop(['categorized_order_hour_of_day'], axis=1, inplace=True)

In [9]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,categorized_hour_1,categorized_hour_2,categorized_hour_3
0,2539329,1,prior,1,2,8,NaN,1,0,0,0
1,2398795,1,prior,2,3,7,15.0,1,0,0,0
2,473747,1,prior,3,3,12,21.0,0,1,0,0
3,2254736,1,prior,4,4,7,29.0,1,0,0,0
4,431534,1,prior,5,4,15,28.0,0,0,1,0

# 2. Integrate Products Information
* products와 prior에서 얻을 수 있는 제품 관련 정보를 통합
* 기존의 attribute인 product_id, product_name, aisle_id, department_id
* 여기에 prior에서 얻을 수 있는 해당 제품에 판매에 관련된 attribute를 추가
* 총주문량(total_orders), 총재주문량(total_reorders), 재주문율(reorder_rate)을 추가함

In [10]:
productsXprior = pd.DataFrame()
productsXprior['product_id'] = prior.groupby(prior.product_id).size().index
productsXprior['product_orders'] = prior.groupby(prior.product_id).size().values
productsXprior['product_reorders'] = prior['reordered'].groupby(prior.product_id).sum().values
productsXprior['product_reorder_rate'] = (productsXprior.product_reorders / productsXprior.product_orders)
print("Size of productsXprior : ", len(productsXprior))
productsXprior.head()

Size of productsXprior :  49677

   product_id  product_orders  product_reorders  product_reorder_rate
0           1            1852              1136              0.613391
1           2              90                12              0.133333
2           3             277               203              0.732852
3           4             329               147              0.446809
4           5              15                 9              0.600000

In [11]:
Products = products.merge(productsXprior, on='product_id', how='outer')
print("Size of Products : ", len(Products))
Products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,Chocolate Sandwich Cookies,61,19,1852.0,1136.0,0.613391
1,2,All-Seasons Salt,104,13,90.0,12.0,0.133333
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277.0,203.0,0.732852
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329.0,147.0,0.446809
4,5,Green Chile Anytime Sauce,5,13,15.0,9.0,0.600000

Products[Products.isnull().any(axis=1)]

In [13]:
Products = Products.replace(np.NaN, 0)
print("Size of Products : ", len(Products))
Products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,Chocolate Sandwich Cookies,61,19,1852.0,1136.0,0.613391
1,2,All-Seasons Salt,104,13,90.0,12.0,0.133333
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277.0,203.0,0.732852
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329.0,147.0,0.446809
4,5,Green Chile Anytime Sauce,5,13,15.0,9.0,0.600000

# normalization product_reorders

In [21]:
Products['norm_product_reorders'] =(Products["product_reorders"]-Products["product_reorders"].min())/(Products["product_reorders"].max()-Products["product_reorders"].min())
Products

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate,norm_product_reorders
0,1,Chocolate Sandwich Cookies,61,19,1852.0,1136.0,0.613391,0.002850
1,2,All-Seasons Salt,104,13,90.0,12.0,0.133333,0.000030
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277.0,203.0,0.732852,0.000509
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329.0,147.0,0.446809,0.000369
4,5,Green Chile Anytime Sauce,5,13,15.0,9.0,0.600000,0.000023
5,6,Dry Nose Oil,11,11,8.0,3.0,0.375000,0.000008
6,7,Pure Coconut Water With Orange,98,7,30.0,12.0,0.400000,0.000030
7,8,Cut Russet Potatoes Steam N' Mash,116,1,165.0,83.0,0.503030,0.000208
8,9,Light Strawberry Blueberry Yogurt,120,16,156.0,82.0,0.525641,0.000206
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,2572.0,1304.0,0.506998,0.003271
10,11,Peach Mango Juice,31,7,104.0,59.0,0.567308,0.000148
11,12,Chocolate Fudge Layer Cake,119,1,246.0,126.0,0.512195,0.000316
12,13,Saline Nasal Mist,11,11,9.0,3.0,0.333333,0.000008
13,14,Fresh Scent Dishwasher Cleaner,74,17,17.0,2.0,0.117647,0.000005
14,15,Overnight Diapers Size 6,56,18,4.0,1.0,0.250000,0.000003
15,16,Mint Chocolate Flavored Syrup,103,19,19.0,2.0,0.105263,0.000005
16,17,Rendered Duck Fat,35,12,18.0,2.0,0.111111,0.000005
17,18,Pizza for One Suprema Frozen Pizza,79,1,137.0,82.0,0.598540,0.000206
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,4.0,0.0,0.000000,0.000000
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0,1.0,0.166667,0.000003
20,21,Small & Medium Dental Dog Treats,40,8,10.0,2.0,0.200000,0.000005
21,22,Fresh Breath Oral Rinse Mild Mint,20,11,43.0,19.0,0.441860,0.000048
22,23,Organic Turkey Burgers,49,12,1068.0,479.0,0.448502,0.001202
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11,13.0,6.0,0.461538,0.000015
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,2166.0,1391.0,0.642198,0.003490
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8,334.0,247.0,0.739521,0.000620
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11,184.0,77.0,0.418478,0.000193
27,28,Wheat Chex Cereal,121,14,706.0,369.0,0.522663,0.000926
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15,218.0,81.0,0.371560,0.000203
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1,81.0,37.0,0.456790,0.000093
...,...,...,...,...,...,...,...,...
49658,49659,Organic Creamed Coconut,17,13,256.0,55.0,0.214844,0.000138
49659,49660,Professionals Sleek Shampoo,22,11,6.0,0.0,0.000000,0.000000
49660,49661,Porto,134,5,13.0,9.0,0.692308,0.000023
49661,49662,Bacon Cheddar Pretzel Pieces,107,19,26.0,11.0,0.423077,0.000028
49662,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,12.0,3.0,0.250000,0.000008
49663,49664,Lemon Cayenne Drinking Vinegar,100,21,188.0,90.0,0.478723,0.000226
49664,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,106.0,53.0,0.500000,0.000133
49665,49666,Ginger Snaps Snacking Cookies,61,19,5.0,0.0,0.000000,0.000000
49666,49667,Enchilada with Spanish Rice & Beans Meal,38,1,1611.0,878.0,0.545003,0.002203
49667,49668,Apple Cinnamon Scented Candles,101,17,378.0,192.0,0.507937,0.000482
49668,49669,K Cup Dark Blend,100,21,7.0,2.0,0.285714,0.000005
49669,49670,Beef Summer Sausage,106,12,229.0,112.0,0.489083,0.000281
49670,49671,Milk Chocolate Drops,45,19,65.0,39.0,0.600000,0.000098
49671,49672,Cafe Mocha K-Cup Packs,26,7,14.0,4.0,0.285714,0.000010
49672,49673,Stone Baked Multi Grain Artisan Rolls,129,1,26.0,11.0,0.423077,0.000028
49673,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1,88.0,60.0,0.681818,0.000151
49674,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,75.0,38.0,0.506667,0.000095
49675,49676,Ultra Red Energy Drink,64,7,50.0,22.0,0.440000,0.000055
49676,49677,Thick & Chunky Sloppy Joe Sauce,59,15,221.0,72.0,0.325792,0.000181
49677,49678,Large Chicken & Cheese Taquitos,129,1,377.0,149.0,0.395225,0.000374
49678,49679,Famous Chocolate Wafers,61,19,132.0,40.0,0.303030,0.000100
49679,49680,All Natural Creamy Caesar Dressing,89,13,1018.0,300.0,0.294695,0.000753
49680,49681,Spaghetti with Meatballs and Sauce Meal,38,1,70.0,39.0,0.557143,0.000098
49681,49682,California Limeade,98,7,108.0,38.0,0.351852,0.000095
49682,49683,Cucumber Kirby,83,4,97315.0,67313.0,0.691702,0.168870
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,9.0,1.0,0.111111,0.000003
49684,49685,En Croute Roast Hazelnut Cranberry,42,1,49.0,6.0,0.122449,0.000015
49685,49686,Artisan Baguette,112,3,120.0,84.0,0.700000,0.000211
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,13.0,6.0,0.461538,0.000015
49687,49688,Fresh Foaming Cleanser,73,11,89.0,15.0,0.168539,0.000038

# 3. Integrate_Users_Information
* prior와 orders를 통합(priorXorders)하여 user_id, order_id, product_id를 하나로 모음.
* priorXorders를 기반으로 하여 유저 정보를 담고 있는 Users를 생성.

In [17]:
priorXorders = prior.merge(orders, on='order_id')
print("Size of Prior : ", len(priorXorders))
priorXorders.head()

Size of Prior :  32434489

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,categorized_hour_1,categorized_hour_2,categorized_hour_3
0,2,33120,1,1,202279,prior,3,5,9,8.0,0,1,0,0
1,2,28985,2,1,202279,prior,3,5,9,8.0,0,1,0,0
2,2,9327,3,0,202279,prior,3,5,9,8.0,0,1,0,0
3,2,45918,4,1,202279,prior,3,5,9,8.0,0,1,0,0
4,2,30035,5,0,202279,prior,3,5,9,8.0,0,1,0,0

In [18]:
user_orders = pd.DataFrame()
user_orders['user_avg_orders_period'] = orders.groupby('user_id')['days_since_prior_order'].mean()
user_orders['user_total_orders'] = orders.groupby('user_id').size()

user_orders['user_id'] = user_orders.index
user_orders.index.name = None

print("Size of user_orders : ", len(user_orders))
user_orders.head()

Size of user_orders :  206209

   user_avg_orders_period  user_total_orders  user_id
1               19.000000                 11        1
2               16.285714                 15        2
3               12.000000                 13        3
4               17.000000                  6        4
5               11.500000                  5        5

In [19]:
user_prior = pd.DataFrame()
user_prior['user_total_products'] = priorXorders.groupby('user_id').size()
user_prior['ordered_products_set'] = priorXorders.groupby('user_id')['product_id'].apply(set)
user_prior['user_unique_products'] = (user_prior.ordered_products_set.map(len))
user_prior = user_prior[['user_total_products', 'user_unique_products', 'ordered_products_set']]

user_prior['user_id'] = user_prior.index
user_prior.index.name = None

print("Size of user_prior : ", len(user_prior))
user_prior.head()

Size of user_prior :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id
1,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1
2,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2
3,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3
4,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4
5,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5

In [20]:
Users = user_prior.merge(user_orders, on='user_id')
print("Size of users : ", len(Users))
Users.head()

Size of users :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id,user_avg_orders_period,user_total_orders
0,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1,19.000000,11
1,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2,16.285714,15
2,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3,12.000000,13
3,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4,17.000000,6
4,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5,11.500000,5

In [21]:
Users['user_avg_cart'] = (Users.user_total_products / (Users.user_total_orders - 1))
print("Size of users : ", len(Users))
Users.head()

Size of users :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id,user_avg_orders_period,user_total_orders,user_avg_cart
0,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1,19.000000,11,5.900000
1,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2,16.285714,15,13.928571
2,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3,12.000000,13,7.333333
3,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4,17.000000,6,3.600000
4,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5,11.500000,5,9.250000

# 4. UP(userXproduct) Information

In [22]:
userXproduct.columns = ['user_product','UP_orders','UP_last_order_id','UP_sum_pos_in_cart']
print('Size of user X product', len(userXproduct))
userXproduct.head()

Size of user X product 13307953

   user_product  UP_orders  UP_last_order_id  UP_sum_pos_in_cart
0   14126415872          5            843810                  63
1   20535312385          1           2699553                   9
2    1375731717          7           2844957                  51
3    8959033352          4           1924807                  57
4    7342828204          3            723315                  13

# 5. Train Data Generation
* ### 미리 만들어 둔 frame_train을 기반으로 위의 orders, Products, Users 정보를 통합시켜 train data를 만듬.
* order_prior, order_train은 학습데이터로 포함 X, order_test가 없기 때문에 test데이터에 해당 attribute를 포함시킬 수 없음.

In [23]:
train_df = frame_train.copy()
train_df.set_index(['user_id','order_id','product_id']).head(10)

                             products
user_id order_id product_id
1       1187899  17122              0
                 196                1
                 26405              1
                 46149              1
                 14084              0
                 13032              1
                 26088              1
                 39657              1
                 12427              0
                 25133              1

### 1) orders Information 통합

In [24]:
train_df = train_df.merge(orders, how='left', on=['user_id','order_id'])
train_df.head()

,user_id,order_id,product_id,products,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,categorized_hour_1,categorized_hour_2,categorized_hour_3
0,1,1187899,17122,0,train,11,4,8,14.0,1,0,0,0
1,1,1187899,196,1,train,11,4,8,14.0,1,0,0,0
2,1,1187899,26405,1,train,11,4,8,14.0,1,0,0,0
3,1,1187899,46149,1,train,11,4,8,14.0,1,0,0,0
4,1,1187899,14084,0,train,11,4,8,14.0,1,0,0,0

### 2) Products Information 통합

In [25]:
train_df = train_df.merge(Products, how='left', on='product_id')
train_df.head()

,user_id,order_id,product_id,products,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,categorized_hour_1,categorized_hour_2,categorized_hour_3,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,1187899,17122,0,train,11,4,8,14.0,1,0,0,0,Honeycrisp Apples,24,4,13880.0,9377.0,0.675576
1,1,1187899,196,1,train,11,4,8,14.0,1,0,0,0,Soda,77,7,35791.0,27791.0,0.776480
2,1,1187899,26405,1,train,11,4,8,14.0,1,0,0,0,XL Pick-A-Size Paper Towel Rolls,54,17,1214.0,536.0,0.441516
3,1,1187899,46149,1,train,11,4,8,14.0,1,0,0,0,Zero Calorie Cola,77,7,8558.0,6953.0,0.812456
4,1,1187899,14084,0,train,11,4,8,14.0,1,0,0,0,Organic Unsweetened Vanilla Almond Milk,91,16,15935.0,12923.0,0.810982

### 3) Users Information 통합

In [26]:
train_df = train_df.merge(Users, how='left', on='user_id')
train_df.head()

,user_id,order_id,product_id,products,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,...,department_id,product_orders,product_reorders,product_reorder_rate,user_total_products,user_unique_products,ordered_products_set,user_avg_orders_period,user_total_orders,user_avg_cart
0,1,1187899,17122,0,train,11,4,8,14.0,1,...,4,13880.0,9377.0,0.675576,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.0,11,5.9
1,1,1187899,196,1,train,11,4,8,14.0,1,...,7,35791.0,27791.0,0.776480,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.0,11,5.9
2,1,1187899,26405,1,train,11,4,8,14.0,1,...,17,1214.0,536.0,0.441516,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.0,11,5.9
3,1,1187899,46149,1,train,11,4,8,14.0,1,...,7,8558.0,6953.0,0.812456,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.0,11,5.9
4,1,1187899,14084,0,train,11,4,8,14.0,1,...,16,15935.0,12923.0,0.810982,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.0,11,5.9

### Extra Feature) days_since_ratio 추가

In [27]:
train_df['days_since_ratio'] = train_df.days_since_prior_order / train_df.user_avg_orders_period

### 4) UP(userXproduct) Information 추가

In [28]:
train_df['user_product'] = train_df.user_id * 100000 + train_df.product_id
train_df = train_df.merge(userXproduct, how='left', on='user_product')
train_df.drop(['user_product'], axis=1, inplace=True)

In [29]:
train_df['UP_orders_ratio'] = train_df.UP_orders / train_df.user_total_orders
train_df['UP_avg_pos_in_cart'] = train_df.UP_sum_pos_in_cart / train_df.UP_orders
train_df['UP_reorder_rate'] = train_df.UP_orders / train_df.user_total_orders
train_df['UP_orders_since_last'] = train_df.user_total_orders - train_df.UP_last_order_id.map(orders.order_number)
train_df['UP_delta_hour_vs_last'] = abs(train_df.order_hour_of_day - train_df.UP_last_order_id.map(orders.order_hour_of_day)).map(lambda x: min(x, 24-x))

train_df.head()

,user_id,order_id,product_id,products,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,categorized_hour_0,...,user_avg_cart,days_since_ratio,UP_orders,UP_last_order_id,UP_sum_pos_in_cart,UP_orders_ratio,UP_avg_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last
0,1,1187899,17122,0,train,11,4,8,14.0,1,...,5.9,0.736842,1,431534,6,0.090909,6.0,0.090909,10,6
1,1,1187899,196,1,train,11,4,8,14.0,1,...,5.9,0.736842,10,2550362,14,0.909091,1.4,0.909091,8,5
2,1,1187899,26405,1,train,11,4,8,14.0,1,...,5.9,0.736842,2,2254736,10,0.181818,5.0,0.181818,-8,12
3,1,1187899,46149,1,train,11,4,8,14.0,1,...,5.9,0.736842,3,2550362,9,0.272727,3.0,0.272727,8,5
4,1,1187899,14084,0,train,11,4,8,14.0,1,...,5.9,0.736842,1,2539329,2,0.090909,2.0,0.090909,-32,5

### 모든 데이터 통합 완료 & 사용할 attribute 선정

In [30]:
train_df.columns

Index(['user_id', 'order_id', 'product_id', 'products', 'eval_set',
       'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'categorized_hour_0', 'categorized_hour_1',
       'categorized_hour_2', 'categorized_hour_3', 'product_name', 'aisle_id',
       'department_id', 'product_orders', 'product_reorders',
       'product_reorder_rate', 'user_total_products', 'user_unique_products',
       'ordered_products_set', 'user_avg_orders_period', 'user_total_orders',
       'user_avg_cart', 'days_since_ratio', 'UP_orders', 'UP_last_order_id',
       'UP_sum_pos_in_cart', 'UP_orders_ratio', 'UP_avg_pos_in_cart',
       'UP_reorder_rate', 'UP_orders_since_last', 'UP_delta_hour_vs_last'],
      dtype='object')

In [31]:
features = [
    # order information
    'order_hour_of_day',
    'days_since_prior_order', 'days_since_ratio',
    # product information
    'aisle_id', 'department_id', 'product_orders', 'product_reorders', 'product_reorder_rate', 
    # user information
    'user_total_products', 'user_unique_products', 'user_avg_orders_period', 'user_total_orders', 'user_avg_cart', 
    # userXproduct information
    'UP_orders', 'UP_orders_ratio', 'UP_avg_pos_in_cart', 'UP_reorder_rate', 'UP_orders_since_last', 'UP_delta_hour_vs_last'
]

In [32]:
train_X = train_df[features]
train_y = train_df['products']

# 6. Test Data Generation

In [33]:
test_df = frame_test.copy()
test_df = test_df.merge(orders, how='left', on=['user_id','order_id'])
test_df = test_df.merge(Products, how='left', on='product_id')
test_df = test_df.merge(Users, how='left', on='user_id')

test_df['days_since_ratio'] = test_df.days_since_prior_order / test_df.user_avg_orders_period

test_df['user_product'] = test_df.user_id * 100000 + test_df.product_id
test_df = test_df.merge(userXproduct, how='left', on='user_product')
test_df.drop(['user_product'], axis=1, inplace=True)

test_df['UP_orders_ratio'] = test_df.UP_orders / test_df.user_total_orders
test_df['UP_avg_pos_in_cart'] = test_df.UP_sum_pos_in_cart / test_df.UP_orders
test_df['UP_reorder_rate'] = test_df.UP_orders / test_df.user_total_orders
test_df['UP_orders_since_last'] = test_df.user_total_orders - test_df.UP_last_order_id.map(orders.order_number)
test_df['UP_delta_hour_vs_last'] = abs(test_df.order_hour_of_day - test_df.UP_last_order_id.map(orders.order_hour_of_day)).map(lambda x: min(x, 24-x))

In [34]:
test_X = test_df[features]

# 7. Learning & Prediction

In [1]:
import lightgbm as lgb

OSError: dlopen(/anaconda/lib/python3.6/site-packages/lightgbm/lib_lightgbm.so, 6): Symbol not found: ___emutls_get_address
  Referenced from: /usr/local/opt/gcc/lib/gcc/7/libgomp.1.dylib
  Expected in: /usr/lib/libSystem.B.dylib
 in /usr/local/opt/gcc/lib/gcc/7/libgomp.1.dylib

In [ ]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss'},
    'num_leaves': 96,
    'max_depth': 10,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5
}
ROUNDS = 100

### Learning

In [ ]:
train_X_ds = lgb.Dataset(train_X, label=train_y, categorical_feature=['aisle_id','department_id'])

In [ ]:
bst = lgb.train(params, train_X_ds, ROUNDS)

### Prediction

In [ ]:
result = bst.predict(test_X)

In [ ]:
result = pd.concat([frame_test,pd.DataFrame(result, columns=['predict'])], axis=1)

In [ ]:
result.head()

# 8. Prediction Probability 기반 최종 products list 생성

In [ ]:
sorted_result = result.sort_values(['user_id', 'predict'], ascending=[True,False])

In [ ]:
sorted_result.head()

In [ ]:
sorted_result.reset_index(inplace=True)
sorted_result.drop(['index'], axis=1, inplace=True)
sorted_result.head()

In [ ]:
sorted_result

In [ ]:
ordered_products = sorted_result.groupby(['user_id', 'order_id'])['product_id'].apply(list)
ordered_products

In [ ]:
d = dict()
for (uid, oid), row in ordered_products.iteritems():
    avg_cart = Users[Users.user_id == uid]['user_avg_cart'].values[0]
    
    row = row[:int(round(avg_cart))]
    
    for prod in row:    
        try:
            d[oid] += ' ' + str(prod)
        except:
            d[oid] = str(prod)

In [ ]:
output = pd.DataFrame.from_dict(d, orient='index')
output.reset_index(inplace=True)
output.columns = ['order_id', 'products']
output.head()

In [ ]:
output.to_csv('submission/LightGBM-userXproduct.csv', index=False)