In [86]:
import numpy as np
import pandas as pd
import lightgbm as lgb

# Data Read

In [87]:
products = pd.read_csv("data/products.csv")
aisles = pd.read_csv("data/aisles.csv")
departments = pd.read_csv("data/departments.csv")
orders = pd.read_csv("data/orders.csv")
order_products_prior = pd.read_csv("data/order_products__prior.csv")
order_products_train = pd.read_csv("data/order_products__train.csv")

### orders.csv

In [88]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### order_products_prior.csv

In [89]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### products.csv

In [90]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

# Products에 새로운 features 추가

In [91]:
prods = pd.DataFrame()
prods['product_id'] = order_products_prior.groupby(order_products_prior.product_id).size().index
prods['total_orders'] = order_products_prior.groupby(order_products_prior.product_id).size().values
prods['total_reorders'] = order_products_prior['reordered'].groupby(order_products_prior.product_id).sum().values
prods['reorder_rate'] = (prods.total_reorders / prods.total_orders)
prods.head()

   product_id  total_orders  total_reorders  reorder_rate
0           1          1852            1136      0.613391
1           2            90              12      0.133333
2           3           277             203      0.732852
3           4           329             147      0.446809
4           5            15               9      0.600000

In [92]:
products = products.merge(prods, on='product_id', how='inner')
products.head()

,product_id,product_name,aisle_id,department_id,total_orders,total_reorders,reorder_rate
0,1,Chocolate Sandwich Cookies,61,19,1852,1136,0.613391
1,2,All-Seasons Salt,104,13,90,12,0.133333
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277,203,0.732852
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329,147,0.446809
4,5,Green Chile Anytime Sauce,5,13,15,9,0.600000

In [94]:
len(products)

49677

# [order_id기준] prior와 orders 통합

In [93]:
priors = order_products_prior.merge(orders, on='order_id')
priors.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [95]:
len(priors)

32434489

# [user_id기준] 미완성

In [96]:
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders.groupby('user_id').size().astype(np.int16)

In [104]:
orders.head(30)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0

In [97]:
usr

         average_days_between_orders  nb_orders
user_id
1                          19.000000         11
2                          16.285715         15
3                          12.000000         13
4                          17.000000          6
5                          11.500000          5
6                          13.333333          4
7                          10.450000         21
8                          23.333334          4
9                          22.000000          4
10                         21.799999          6
11                         18.714285          8
12                         26.000000          6
13                          7.666667         13
14                         21.230770         14
15                         10.636364         23
16                         19.333334          7
17                          8.000000         41
18                          5.833333          7
19                          9.333333         10
20                         11.250000          5
21                         10.454545         34
22                         12.733334         16
23                         18.500000          5
24                         14.666667         19
25                         30.000000          4
26                         12.166667         13
27                          4.432099         82
28                         11.541667         25
29                         11.611111         19
30                         21.625000          9
...                              ...        ...
206180                      7.777778         19
206181                     17.928572         15
206182                     20.299999         11
206183                     14.000000         15
206184                     25.000000          5
206185                     25.400000         11
206186                     14.666667          4
206187                     10.235294         35
206188                     27.428572          8
206189                     14.833333          7
206190                     22.875000          9
206191                     21.600000          6
206192                     12.142858         15
206193                      5.780488         42
206194                     11.727273         12
206195                      8.000000         20
206196                     26.500000          5
206197                     13.086957         24
206198                     18.285715          8
206199                     16.947369         20
206200                      8.826087         24
206201                     10.718750         33
206202                     12.500000         23
206203                     29.400000          6
206204                     14.750000          5
206205                     16.666666          4
206206                      3.716418         68
206207                     14.312500         17
206208                      7.367347         50
206209                     18.461538         14

[206209 rows x 2 columns]

In [106]:
priors.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [98]:
users = pd.DataFrame()
users['total_items'] = priors.groupby('user_id').size().astype(np.int16)
users['all_products'] = priors.groupby('user_id')['product_id'].apply(set)
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)

In [99]:
users

,total_items,all_products,total_distinct_items
user_id,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23
6,14,"{40992, 27521, 20323, 48679, 8424, 45007, 2190...",12
7,206,"{11520, 35333, 519, 10504, 47623, 45066, 13198...",68
8,49,"{11136, 8193, 17794, 26882, 39812, 24838, 651,...",36
9,76,"{8834, 38277, 33787, 5002, 11790, 38159, 7952,...",58
10,143,"{36865, 20995, 13829, 43014, 11782, 18441, 476...",94
11,94,"{17794, 8197, 30855, 33037, 30480, 10644, 2620...",61
12,74,"{11520, 45056, 17794, 44422, 17159, 44683, 376...",61
13,81,"{41351, 41480, 42248, 37385, 31372, 42125, 194...",29
14,210,"{8193, 17923, 18439, 45066, 34827, 47117, 9239...",142
15,72,"{11266, 37059, 196, 10441, 43721, 12427, 37710...",13
16,70,"{15872, 28289, 17794, 40706, 43014, 651, 7948,...",46
17,294,"{36736, 45190, 18567, 5128, 40203, 19468, 4084...",83
18,39,"{2826, 25997, 22031, 29328, 21137, 40723, 4162...",29
19,204,"{27138, 21001, 41483, 34827, 19468, 40974, 210...",133
20,22,"{13575, 6184, 9387, 46061, 13914, 41400, 22362}",7
21,205,"{21508, 8214, 33819, 15902, 45603, 28199, 4253...",102
22,69,"{39040, 17794, 24964, 7948, 21903, 32655, 2452...",34
23,40,"{42372, 22021, 43014, 4235, 47504, 39063, 2524...",36
24,38,"{35652, 6184, 16393, 46473, 44172, 10509, 4881...",18
25,21,"{1216, 27521, 45633, 21506, 26756, 21828, 2298...",19
26,56,"{30592, 49157, 31130, 13219, 1063, 49588, 1989...",34
27,768,"{44548, 28676, 32263, 45066, 16398, 44051, 206...",220
28,183,"{23044, 21513, 47626, 41483, 26128, 49683, 271...",106
29,225,"{39170, 33027, 10500, 19205, 33161, 20874, 216...",67
30,11,"{45128, 6184, 21386, 23288, 38300, 27839}",6
...,...,...,...
206180,171,"{5250, 45066, 47626, 14218, 43789, 38288, 4878...",49
206181,127,"{33792, 12797, 17794, 23044, 260, 43789, 21903...",64
206182,120,"{39170, 35845, 21512, 38025, 10890, 17040, 257...",78
206183,199,"{17284, 260, 11782, 13708, 27663, 21903, 21137...",63
206184,36,"{11136, 1025, 38273, 2433, 24964, 24838, 1158,...",34
206185,90,"{31744, 14852, 35206, 30217, 31374, 48527, 354...",48
206186,32,"{9346, 17807, 30226, 22935, 38809, 39450, 3048...",23
206187,261,"{11777, 17794, 24964, 45957, 47492, 7175, 1024...",66
206188,63,"{260, 48004, 40709, 26250, 44560, 24852, 3992,...",36
206189,40,"{27043, 35140, 24456, 47209, 4670, 42508, 1370...",21
206190,54,"{1025, 40706, 46979, 28676, 45965, 37646, 2075...",32
206191,82,"{46720, 10880, 40706, 16131, 24964, 40709, 248...",53
206192,103,"{43409, 11281, 24852, 6550, 7963, 36763, 14493...",37
206193,343,"{8193, 26629, 36872, 18441, 14858, 9741, 5646,...",162
206194,127,"{16384, 35842, 24964, 47626, 44683, 35470, 219...",77
206195,67,"{28289, 8193, 35333, 48523, 19982, 19089, 1934...",38
206196,90,"{26369, 40706, 24964, 2309, 28934, 48775, 4871...",59
206197,181,"{12797, 40194, 24195, 24964, 37765, 17795, 291...",47
206198,41,"{25861, 35209, 12938, 8203, 14992, 21137, 2101...",35
206199,327,"{18952, 42504, 37387, 17426, 38930, 7702, 4610...",134
206200,279,"{47626, 22035, 44053, 12312, 12845, 13870, 343...",95
206201,404,"{18432, 1025, 44548, 45574, 14861, 46607, 4405...",174
206202,198,"{260, 2693, 28934, 18567, 45066, 17038, 5390, ...",74
206203,119,"{4605, 34049, 47489, 26369, 13829, 10246, 1779...",84
206204,54,"{30720, 17794, 20995, 17027, 30855, 2825, 4468...",43
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68

In [100]:
users = users.join(usr)
users

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders
user_id,,,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18,19.000000,11
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102,16.285715,15
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33,12.000000,13
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17,17.000000,6
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23,11.500000,5
6,14,"{40992, 27521, 20323, 48679, 8424, 45007, 2190...",12,13.333333,4
7,206,"{11520, 35333, 519, 10504, 47623, 45066, 13198...",68,10.450000,21
8,49,"{11136, 8193, 17794, 26882, 39812, 24838, 651,...",36,23.333334,4
9,76,"{8834, 38277, 33787, 5002, 11790, 38159, 7952,...",58,22.000000,4
10,143,"{36865, 20995, 13829, 43014, 11782, 18441, 476...",94,21.799999,6
11,94,"{17794, 8197, 30855, 33037, 30480, 10644, 2620...",61,18.714285,8
12,74,"{11520, 45056, 17794, 44422, 17159, 44683, 376...",61,26.000000,6
13,81,"{41351, 41480, 42248, 37385, 31372, 42125, 194...",29,7.666667,13
14,210,"{8193, 17923, 18439, 45066, 34827, 47117, 9239...",142,21.230770,14
15,72,"{11266, 37059, 196, 10441, 43721, 12427, 37710...",13,10.636364,23
16,70,"{15872, 28289, 17794, 40706, 43014, 651, 7948,...",46,19.333334,7
17,294,"{36736, 45190, 18567, 5128, 40203, 19468, 4084...",83,8.000000,41
18,39,"{2826, 25997, 22031, 29328, 21137, 40723, 4162...",29,5.833333,7
19,204,"{27138, 21001, 41483, 34827, 19468, 40974, 210...",133,9.333333,10
20,22,"{13575, 6184, 9387, 46061, 13914, 41400, 22362}",7,11.250000,5
21,205,"{21508, 8214, 33819, 15902, 45603, 28199, 4253...",102,10.454545,34
22,69,"{39040, 17794, 24964, 7948, 21903, 32655, 2452...",34,12.733334,16
23,40,"{42372, 22021, 43014, 4235, 47504, 39063, 2524...",36,18.500000,5
24,38,"{35652, 6184, 16393, 46473, 44172, 10509, 4881...",18,14.666667,19
25,21,"{1216, 27521, 45633, 21506, 26756, 21828, 2298...",19,30.000000,4
26,56,"{30592, 49157, 31130, 13219, 1063, 49588, 1989...",34,12.166667,13
27,768,"{44548, 28676, 32263, 45066, 16398, 44051, 206...",220,4.432099,82
28,183,"{23044, 21513, 47626, 41483, 26128, 49683, 271...",106,11.541667,25
29,225,"{39170, 33027, 10500, 19205, 33161, 20874, 216...",67,11.611111,19
30,11,"{45128, 6184, 21386, 23288, 38300, 27839}",6,21.625000,9
...,...,...,...,...,...
206180,171,"{5250, 45066, 47626, 14218, 43789, 38288, 4878...",49,7.777778,19
206181,127,"{33792, 12797, 17794, 23044, 260, 43789, 21903...",64,17.928572,15
206182,120,"{39170, 35845, 21512, 38025, 10890, 17040, 257...",78,20.299999,11
206183,199,"{17284, 260, 11782, 13708, 27663, 21903, 21137...",63,14.000000,15
206184,36,"{11136, 1025, 38273, 2433, 24964, 24838, 1158,...",34,25.000000,5
206185,90,"{31744, 14852, 35206, 30217, 31374, 48527, 354...",48,25.400000,11
206186,32,"{9346, 17807, 30226, 22935, 38809, 39450, 3048...",23,14.666667,4
206187,261,"{11777, 17794, 24964, 45957, 47492, 7175, 1024...",66,10.235294,35
206188,63,"{260, 48004, 40709, 26250, 44560, 24852, 3992,...",36,27.428572,8
206189,40,"{27043, 35140, 24456, 47209, 4670, 42508, 1370...",21,14.833333,7
206190,54,"{1025, 40706, 46979, 28676, 45965, 37646, 2075...",32,22.875000,9
206191,82,"{46720, 10880, 40706, 16131, 24964, 40709, 248...",53,21.600000,6
206192,103,"{43409, 11281, 24852, 6550, 7963, 36763, 14493...",37,12.142858,15
206193,343,"{8193, 26629, 36872, 18441, 14858, 9741, 5646,...",162,5.780488,42
206194,127,"{16384, 35842, 24964, 47626, 44683, 35470, 219...",77,11.727273,12
206195,67,"{28289, 8193, 35333, 48523, 19982, 19089, 1934...",38,8.000000,20
206196,90,"{26369, 40706, 24964, 2309, 28934, 48775, 4871...",59,26.500000,5
206197,181,"{12797, 40194, 24195, 24964, 37765, 17795, 291...",47,13.086957,24
206198,41,"{25861, 35209, 12938, 8203, 14992, 21137, 2101...",35,18.285715,8
206199,327,"{18952, 42504, 37387, 17426, 38930, 7702, 4610...",134,16.947369,20
206200,279,"{47626, 22035, 44053, 12312, 12845, 13870, 343...",95,8.826087,24
206201,404,"{18432, 1025, 44548, 45574, 14861, 46607, 4405...",174,10.718750,33
206202,198,"{260, 2693, 28934, 18567, 45066, 17038, 5390, ...",74,12.500000,23
206203,119,"{4605, 34049, 47489, 26369, 13829, 10246, 1779...",84,29.400000,6
206204,54,"{30720, 17794, 20995, 17027, 30855, 2825, 4468...",43,14.750000,5
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24,16.666666,4
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150,3.716418,68
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92,14.312500,17
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198,7.367347,50
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68,18.461538,14

In [101]:
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)
print('user f', users.shape)

user f (206209, 6)

In [107]:
users

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18,19.000000,11,5.363636
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102,16.285715,15,13.000000
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33,12.000000,13,6.769231
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17,17.000000,6,3.000000
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23,11.500000,5,7.400000
6,14,"{40992, 27521, 20323, 48679, 8424, 45007, 2190...",12,13.333333,4,3.500000
7,206,"{11520, 35333, 519, 10504, 47623, 45066, 13198...",68,10.450000,21,9.809524
8,49,"{11136, 8193, 17794, 26882, 39812, 24838, 651,...",36,23.333334,4,12.250000
9,76,"{8834, 38277, 33787, 5002, 11790, 38159, 7952,...",58,22.000000,4,19.000000
10,143,"{36865, 20995, 13829, 43014, 11782, 18441, 476...",94,21.799999,6,23.833334
11,94,"{17794, 8197, 30855, 33037, 30480, 10644, 2620...",61,18.714285,8,11.750000
12,74,"{11520, 45056, 17794, 44422, 17159, 44683, 376...",61,26.000000,6,12.333333
13,81,"{41351, 41480, 42248, 37385, 31372, 42125, 194...",29,7.666667,13,6.230769
14,210,"{8193, 17923, 18439, 45066, 34827, 47117, 9239...",142,21.230770,14,15.000000
15,72,"{11266, 37059, 196, 10441, 43721, 12427, 37710...",13,10.636364,23,3.130435
16,70,"{15872, 28289, 17794, 40706, 43014, 651, 7948,...",46,19.333334,7,10.000000
17,294,"{36736, 45190, 18567, 5128, 40203, 19468, 4084...",83,8.000000,41,7.170732
18,39,"{2826, 25997, 22031, 29328, 21137, 40723, 4162...",29,5.833333,7,5.571429
19,204,"{27138, 21001, 41483, 34827, 19468, 40974, 210...",133,9.333333,10,20.400000
20,22,"{13575, 6184, 9387, 46061, 13914, 41400, 22362}",7,11.250000,5,4.400000
21,205,"{21508, 8214, 33819, 15902, 45603, 28199, 4253...",102,10.454545,34,6.029412
22,69,"{39040, 17794, 24964, 7948, 21903, 32655, 2452...",34,12.733334,16,4.312500
23,40,"{42372, 22021, 43014, 4235, 47504, 39063, 2524...",36,18.500000,5,8.000000
24,38,"{35652, 6184, 16393, 46473, 44172, 10509, 4881...",18,14.666667,19,2.000000
25,21,"{1216, 27521, 45633, 21506, 26756, 21828, 2298...",19,30.000000,4,5.250000
26,56,"{30592, 49157, 31130, 13219, 1063, 49588, 1989...",34,12.166667,13,4.307693
27,768,"{44548, 28676, 32263, 45066, 16398, 44051, 206...",220,4.432099,82,9.365853
28,183,"{23044, 21513, 47626, 41483, 26128, 49683, 271...",106,11.541667,25,7.320000
29,225,"{39170, 33027, 10500, 19205, 33161, 20874, 216...",67,11.611111,19,11.842105
30,11,"{45128, 6184, 21386, 23288, 38300, 27839}",6,21.625000,9,1.222222
...,...,...,...,...,...,...
206180,171,"{5250, 45066, 47626, 14218, 43789, 38288, 4878...",49,7.777778,19,9.000000
206181,127,"{33792, 12797, 17794, 23044, 260, 43789, 21903...",64,17.928572,15,8.466666
206182,120,"{39170, 35845, 21512, 38025, 10890, 17040, 257...",78,20.299999,11,10.909091
206183,199,"{17284, 260, 11782, 13708, 27663, 21903, 21137...",63,14.000000,15,13.266666
206184,36,"{11136, 1025, 38273, 2433, 24964, 24838, 1158,...",34,25.000000,5,7.200000
206185,90,"{31744, 14852, 35206, 30217, 31374, 48527, 354...",48,25.400000,11,8.181818
206186,32,"{9346, 17807, 30226, 22935, 38809, 39450, 3048...",23,14.666667,4,8.000000
206187,261,"{11777, 17794, 24964, 45957, 47492, 7175, 1024...",66,10.235294,35,7.457143
206188,63,"{260, 48004, 40709, 26250, 44560, 24852, 3992,...",36,27.428572,8,7.875000
206189,40,"{27043, 35140, 24456, 47209, 4670, 42508, 1370...",21,14.833333,7,5.714286
206190,54,"{1025, 40706, 46979, 28676, 45965, 37646, 2075...",32,22.875000,9,6.000000
206191,82,"{46720, 10880, 40706, 16131, 24964, 40709, 248...",53,21.600000,6,13.666667
206192,103,"{43409, 11281, 24852, 6550, 7963, 36763, 14493...",37,12.142858,15,6.866667
206193,343,"{8193, 26629, 36872, 18441, 14858, 9741, 5646,...",162,5.780488,42,8.166667
206194,127,"{16384, 35842, 24964, 47626, 44683, 35470, 219...",77,11.727273,12,10.583333
206195,67,"{28289, 8193, 35333, 48523, 19982, 19089, 1934...",38,8.000000,20,3.350000
206196,90,"{26369, 40706, 24964, 2309, 28934, 48775, 4871...",59,26.500000,5,18.000000
206197,181,"{12797, 40194, 24195, 24964, 37765, 17795, 291...",47,13.086957,24,7.541667
206198,41,"{25861, 35209, 12938, 8203, 14992, 21137, 2101...",35,18.285715,8,5.125000
206199,327,"{18952, 42504, 37387, 17426, 38930, 7702, 4610...",134,16.947369,20,16.350000
206200,279,"{47626, 22035, 44053, 12312, 12845, 13870, 343...",95,8.826087,24,11.625000
206201,404,"{18432, 1025, 44548, 45574, 14861, 46607, 4405...",174,10.718750,33,12.242424
206202,198,"{260, 2693, 28934, 18567, 45066, 17038, 5390, ...",74,12.500000,23,8.608696
206203,119,"{4605, 34049, 47489, 26369, 13829, 10246, 1779...",84,29.400000,6,19.833334
206204,54,"{30720, 17794, 20995, 17027, 30855, 2825, 4468...",43,14.750000,5,10.800000
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24,16.666666,4,8.000000
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150,3.716418,68,4.191176
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92,14.312500,17,13.117647
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198,7.367347,50,13.540000
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68,18.461538,14,9.214286

In [108]:
priors['user_product'] = priors.product_id + priors.user_id * 100000
priors

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,user_product
0,2,33120,1,1,202279,prior,3,5,9,8.0,20227933120
1,2,28985,2,1,202279,prior,3,5,9,8.0,20227928985
2,2,9327,3,0,202279,prior,3,5,9,8.0,20227909327
3,2,45918,4,1,202279,prior,3,5,9,8.0,20227945918
4,2,30035,5,0,202279,prior,3,5,9,8.0,20227930035
5,2,17794,6,1,202279,prior,3,5,9,8.0,20227917794
6,2,40141,7,1,202279,prior,3,5,9,8.0,20227940141
7,2,1819,8,1,202279,prior,3,5,9,8.0,20227901819
8,2,43668,9,0,202279,prior,3,5,9,8.0,20227943668
9,3,33754,1,1,205970,prior,16,5,17,12.0,20597033754
10,3,24838,2,1,205970,prior,16,5,17,12.0,20597024838
11,3,17704,3,1,205970,prior,16,5,17,12.0,20597017704
12,3,21903,4,1,205970,prior,16,5,17,12.0,20597021903
13,3,17668,5,1,205970,prior,16,5,17,12.0,20597017668
14,3,46667,6,1,205970,prior,16,5,17,12.0,20597046667
15,3,17461,7,1,205970,prior,16,5,17,12.0,20597017461
16,3,32665,8,1,205970,prior,16,5,17,12.0,20597032665
17,4,46842,1,0,178520,prior,36,1,9,7.0,17852046842
18,4,26434,2,1,178520,prior,36,1,9,7.0,17852026434
19,4,39758,3,1,178520,prior,36,1,9,7.0,17852039758
20,4,27761,4,1,178520,prior,36,1,9,7.0,17852027761
21,4,10054,5,1,178520,prior,36,1,9,7.0,17852010054
22,4,21351,6,1,178520,prior,36,1,9,7.0,17852021351
23,4,22598,7,1,178520,prior,36,1,9,7.0,17852022598
24,4,34862,8,1,178520,prior,36,1,9,7.0,17852034862
25,4,40285,9,1,178520,prior,36,1,9,7.0,17852040285
26,4,17616,10,1,178520,prior,36,1,9,7.0,17852017616
27,4,25146,11,1,178520,prior,36,1,9,7.0,17852025146
28,4,32645,12,1,178520,prior,36,1,9,7.0,17852032645
29,4,41276,13,1,178520,prior,36,1,9,7.0,17852041276
...,...,...,...,...,...,...,...,...,...,...,...
32434459,3421080,41950,4,0,52726,prior,2,1,11,2.0,5272641950
32434460,3421080,31717,5,0,52726,prior,2,1,11,2.0,5272631717
32434461,3421080,12935,6,1,52726,prior,2,1,11,2.0,5272612935
32434462,3421080,25122,7,0,52726,prior,2,1,11,2.0,5272625122
32434463,3421080,10667,8,0,52726,prior,2,1,11,2.0,5272610667
32434464,3421080,38061,9,0,52726,prior,2,1,11,2.0,5272638061
32434465,3421081,38185,1,0,117076,prior,1,3,11,NaN,11707638185
32434466,3421081,12218,2,0,117076,prior,1,3,11,NaN,11707612218
32434467,3421081,32299,3,0,117076,prior,1,3,11,NaN,11707632299
32434468,3421081,3060,4,0,117076,prior,1,3,11,NaN,11707603060
32434469,3421081,20539,5,0,117076,prior,1,3,11,NaN,11707620539
32434470,3421081,35221,6,0,117076,prior,1,3,11,NaN,11707635221
32434471,3421081,12861,7,0,117076,prior,1,3,11,NaN,11707612861
32434472,3421082,17279,1,1,175185,prior,23,2,18,4.0,17518517279
32434473,3421082,12738,2,1,175185,prior,23,2,18,4.0,17518512738
32434474,3421082,16797,3,0,175185,prior,23,2,18,4.0,17518516797
32434475,3421082,43352,4,1,175185,prior,23,2,18,4.0,17518543352
32434476,3421082,32700,5,1,175185,prior,23,2,18,4.0,17518532700
32434477,3421082,12023,6,0,175185,prior,23,2,18,4.0,17518512023
32434478,3421082,47941,7,0,175185,prior,23,2,18,4.0,17518547941
32434479,3421083,7854,1,0,25247,prior,24,2,6,21.0,2524707854
32434480,3421083,45309,2,0,25247,prior,24,2,6,21.0,2524745309
32434481,3421083,21162,3,0,25247,prior,24,2,6,21.0,2524721162
32434482,3421083,18176,4,1,25247,prior,24,2,6,21.0,2524718176
32434483,3421083,35211,5,0,25247,prior,24,2,6,21.0,2524735211
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0,2524739678
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0,2524711352
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0,2524704600
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0,2524724852
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0,2524705020

In [109]:
len(priors['user_product'].unique())

13307953

In [115]:
for row in priors.itertuples():
    print(row.user_product)
    break;

20227933120

In [125]:
def features(selected_orders, labels_given=False):
    print('build candidate list')
    order_list = []
    product_list = []
    labels = []
    i=0
    for row in selected_orders.itertuples():
        i+=1
        if i%10000 == 0: print('order row',i)
        order_id = row.order_id
        user_id = row.user_id
        user_products = users.all_products[user_id]
        product_list += user_products
        order_list += [order_id] * len(user_products)
        if labels_given:
            labels += [(order_id, product) in order_products_train.index for product in user_products]
            
    df = pd.DataFrame({'order_id':order_list, 'product_id':product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    
    return (df, labels)

In [126]:
df, labels = features(orders[orders.eval_set=='train'], labels_given=True)

build candidate list
order row 10000
order row 20000
order row 30000
order row 40000
order row 50000
order row 60000
order row 70000
order row 80000
order row 90000
order row 100000
order row 110000
order row 120000
order row 130000

In [122]:
df

         order_id  product_id
0         1187899       17122
1         1187899         196
2         1187899       26405
3         1187899       46149
4         1187899       14084
5         1187899       13032
6         1187899       26088
7         1187899       39657
8         1187899       12427
9         1187899       25133
10        1187899       35951
11        1187899       38928
12        1187899       10258
13        1187899       30450
14        1187899       49235
15        1187899       10326
16        1187899       13176
17        1187899       41787
18        1492625       45066
19        1492625        2573
20        1492625       18961
21        1492625          23
22        1492625       32792
23        1492625        1559
24        1492625       22559
25        1492625       13351
26        1492625       47144
27        1492625       45613
28        1492625       10305
29        1492625       35917
...           ...         ...
8474631    272231       40534
8474632    272231        2519
8474633    272231       10070
8474634    272231       36056
8474635    272231       12376
8474636    272231       17500
8474637    272231       26209
8474638    272231       23909
8474639    272231       48742
8474640    272231        2280
8474641    272231       33129
8474642    272231       20073
8474643    272231       20842
8474644    272231        4461
8474645    272231       20590
8474646    272231       25837
8474647    272231        4591
8474648    272231       48370
8474649    272231         755
8474650    272231       13176
8474651    272231       14197
8474652    272231        5622
8474653    272231        2295
8474654    272231       23800
8474655    272231       40310
8474656    272231       31477
8474657    272231       28156
8474658    272231       41213
8474659    272231         890
8474660    272231       23039

[8474661 rows x 2 columns]

In [134]:
for t in labels:
    if(t!=0): print(a)