In [51]:
import numpy as np
import pandas as pd

# 0. Introduction of Data

In [52]:
products = pd.read_csv("data/products.csv")
aisles = pd.read_csv("data/aisles.csv")
departments = pd.read_csv("data/departments.csv")
orders = pd.read_csv("data/orders.csv")
prior = pd.read_csv("data/order_products__prior.csv")
train = pd.read_csv("data/order_products__train.csv")
frame_train = pd.read_csv("data/frame_train.csv")
frame_test = pd.read_csv("data/frame_test.csv")

### orders.csv

In [53]:
print("Size of orders : ", len(orders))
orders.head()

Size of orders :  3421083

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### order_products_prior.csv

In [54]:
print("Size of prior : ", len(prior))
prior.head()

Size of prior :  32434489

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### products.csv

In [55]:
print("Size of Products : ", len(products))
products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

### frame_train.csv

In [56]:
print("Size of frame of train : ", len(frame_train))
frame_train.head()

Size of frame of train :  8474661

   user_id  order_id  product_id  products
0        1   1187899       17122         0
1        1   1187899         196         1
2        1   1187899       26405         1
3        1   1187899       46149         1
4        1   1187899       14084         0

# 1. Integrate Products Information
* products와 prior에서 얻을 수 있는 제품 관련 정보를 통합
* 기존의 attribute인 product_id, product_name, aisle_id, department_id
* 여기에 prior에서 얻을 수 있는 해당 제품에 판매에 관련된 attribute를 추가
* 총주문량(total_orders), 총재주문량(total_reorders), 재주문율(reorder_rate)을 추가함

In [58]:
productsXprior = pd.DataFrame()
productsXprior['product_id'] = prior.groupby(prior.product_id).size().index
productsXprior['product_orders'] = prior.groupby(prior.product_id).size().values
productsXprior['product_reorders'] = prior['reordered'].groupby(prior.product_id).sum().values
productsXprior['product_reorder_rate'] = (productsXprior.product_reorders / productsXprior.product_orders)
print("Size of productsXprior : ", len(productsXprior))
productsXprior.head()

Size of productsXprior :  49677

   product_id  product_orders  product_reorders  product_reorder_rate
0           1            1852              1136              0.613391
1           2              90                12              0.133333
2           3             277               203              0.732852
3           4             329               147              0.446809
4           5              15                 9              0.600000

In [59]:
Products = products.merge(productsXprior, on='product_id', how='outer')
print("Size of Products : ", len(Products))
Products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,Chocolate Sandwich Cookies,61,19,1852.0,1136.0,0.613391
1,2,All-Seasons Salt,104,13,90.0,12.0,0.133333
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277.0,203.0,0.732852
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329.0,147.0,0.446809
4,5,Green Chile Anytime Sauce,5,13,15.0,9.0,0.600000

In [60]:
Products[Products.isnull().any(axis=1)]

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
3629,3630,Protein Granola Apple Crisp,57,14,NaN,NaN,NaN
3717,3718,Wasabi Cheddar Spreadable Cheese,21,16,NaN,NaN,NaN
7044,7045,Unpeeled Apricot Halves in Heavy Syrup,88,13,NaN,NaN,NaN
25382,25383,Chocolate Go Bites,61,19,NaN,NaN,NaN
27498,27499,Non-Dairy Coconut Seven Layer Bar,100,21,NaN,NaN,NaN
36232,36233,Water With Electrolytes,100,21,NaN,NaN,NaN
37702,37703,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75,17,NaN,NaN,NaN
43724,43725,Sweetart Jelly Beans,100,21,NaN,NaN,NaN
45970,45971,12 Inch Taper Candle White,101,17,NaN,NaN,NaN
46624,46625,Single Barrel Kentucky Straight Bourbon Whiskey,31,7,NaN,NaN,NaN
49539,49540,Pure Squeezed Lemonade,31,7,NaN,NaN,NaN

In [61]:
Products = Products.replace(np.NaN, 0)
print("Size of Products : ", len(Products))
Products.head()

Size of Products :  49688

,product_id,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,Chocolate Sandwich Cookies,61,19,1852.0,1136.0,0.613391
1,2,All-Seasons Salt,104,13,90.0,12.0,0.133333
2,3,Robust Golden Unsweetened Oolong Tea,94,7,277.0,203.0,0.732852
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,329.0,147.0,0.446809
4,5,Green Chile Anytime Sauce,5,13,15.0,9.0,0.600000

# 2. Integrate_Users_Information
* prior와 orders를 통합(priorXorders)하여 user_id, order_id, product_id를 하나로 모음.
* priorXorders를 기반으로 하여 유저 정보를 담고 있는 Users를 생성.

In [62]:
priorXorders = prior.merge(orders, on='order_id')
print("Size of Prior : ", len(priorXorders))
priorXorders.head()

Size of Prior :  32434489

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [63]:
user_orders = pd.DataFrame()
user_orders['user_avg_orders_period'] = orders.groupby('user_id')['days_since_prior_order'].mean()
user_orders['user_total_orders'] = orders.groupby('user_id').size()

user_orders['user_id'] = user_orders.index
user_orders.index.name = None

print("Size of user_orders : ", len(user_orders))
user_orders.head()

Size of user_orders :  206209

   user_avg_orders_period  user_total_orders  user_id
1               19.000000                 11        1
2               16.285714                 15        2
3               12.000000                 13        3
4               17.000000                  6        4
5               11.500000                  5        5

In [64]:
user_prior = pd.DataFrame()
user_prior['user_total_products'] = priorXorders.groupby('user_id').size()
user_prior['ordered_products_set'] = priorXorders.groupby('user_id')['product_id'].apply(set)
user_prior['user_unique_products'] = (user_prior.ordered_products_set.map(len))
user_prior = user_prior[['user_total_products', 'user_unique_products', 'ordered_products_set']]

user_prior['user_id'] = user_prior.index
user_prior.index.name = None

print("Size of user_prior : ", len(user_prior))
user_prior.head()

Size of user_prior :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id
1,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1
2,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2
3,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3
4,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4
5,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5

In [65]:
Users = user_prior.merge(user_orders, on='user_id')
print("Size of users : ", len(Users))
Users.head()

Size of users :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id,user_avg_orders_period,user_total_orders
0,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1,19.000000,11
1,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2,16.285714,15
2,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3,12.000000,13
3,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4,17.000000,6
4,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5,11.500000,5

In [66]:
Users['user_avg_cart'] = (Users.user_total_products / Users.user_total_orders)
print("Size of users : ", len(Users))
Users.head()

Size of users :  206209

,user_total_products,user_unique_products,ordered_products_set,user_id,user_avg_orders_period,user_total_orders,user_avg_cart
0,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",1,19.000000,11,5.363636
1,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",2,16.285714,15,13.000000
2,88,33,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",3,12.000000,13,6.769231
3,18,17,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",4,17.000000,6,3.000000
4,37,23,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",5,11.500000,5,7.400000

# 3. Train Data Generation
* ### 미리 만들어 둔 frame_train을 기반으로 위의 orders, Products, Users 정보를 통합시켜 train data를 만듬.
* order_prior, order_train은 학습데이터로 포함 X, order_test가 없기 때문에 test데이터에 해당 attribute를 포함시킬 수 없음.

In [67]:
train_df = frame_train.copy()
train_df.set_index(['user_id','order_id','product_id'])

                             products
user_id order_id product_id
1       1187899  17122              0
                 196                1
                 26405              1
                 46149              1
                 14084              0
                 13032              1
                 26088              1
                 39657              1
                 12427              0
                 25133              1
                 35951              0
                 38928              1
                 10258              1
                 30450              0
                 49235              1
                 10326              0
                 13176              0
                 41787              0
2       1492625  45066              1
                 2573               0
                 18961              0
                 23                 0
                 32792              1
                 1559               0
                 22559              1
                 13351              0
                 47144              0
                 45613              1
                 10305              0
                 35917              0
...                               ...
206209  272231   40534              0
                 2519               0
                 10070              0
                 36056              0
                 12376              0
                 17500              0
                 26209              0
                 23909              0
                 48742              0
                 2280               0
                 33129              0
                 20073              0
                 20842              0
                 4461               0
                 20590              0
                 25837              0
                 4591               0
                 48370              0
                 755                0
                 13176              0
                 14197              0
                 5622               0
                 2295               0
                 23800              0
                 40310              0
                 31477              0
                 28156              0
                 41213              0
                 890                0
                 23039              0

[8474661 rows x 1 columns]

In [68]:
train_df = train_df.merge(Products, how='left', on='product_id')
train_df

,user_id,order_id,product_id,products,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate
0,1,1187899,17122,0,Honeycrisp Apples,24,4,13880.0,9377.0,0.675576
1,1,1187899,196,1,Soda,77,7,35791.0,27791.0,0.776480
2,1,1187899,26405,1,XL Pick-A-Size Paper Towel Rolls,54,17,1214.0,536.0,0.441516
3,1,1187899,46149,1,Zero Calorie Cola,77,7,8558.0,6953.0,0.812456
4,1,1187899,14084,0,Organic Unsweetened Vanilla Almond Milk,91,16,15935.0,12923.0,0.810982
5,1,1187899,13032,1,Cinnamon Toast Crunch,121,14,3751.0,2465.0,0.657158
6,1,1187899,26088,1,Aged White Cheddar Popcorn,23,19,2523.0,1360.0,0.539041
7,1,1187899,39657,1,Milk Chocolate Almonds,45,19,5019.0,3846.0,0.766288
8,1,1187899,12427,0,Original Beef Jerky,23,19,6476.0,4797.0,0.740735
9,1,1187899,25133,1,Organic String Cheese,21,16,6196.0,4586.0,0.740155
10,1,1187899,35951,0,Organic Unsweetened Almond Milk,91,16,57895.0,43875.0,0.757837
11,1,1187899,38928,1,0% Greek Strained Yogurt,120,16,13238.0,10958.0,0.827769
12,1,1187899,10258,1,Pistachios,117,19,1946.0,1389.0,0.713772
13,1,1187899,30450,0,Creamy Almond Butter,88,13,21490.0,12178.0,0.566682
14,1,1187899,49235,1,Organic Half & Half,53,16,76360.0,59672.0,0.781456
15,1,1187899,10326,0,Organic Fuji Apples,24,4,5526.0,3603.0,0.652009
16,1,1187899,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555
17,1,1187899,41787,0,Bartlett Pears,24,4,35413.0,23015.0,0.649903
18,2,1492625,45066,1,Honeycrisp Apple,24,4,79769.0,57818.0,0.724818
19,2,1492625,2573,0,Garlic Pepper Ramen,66,6,1212.0,480.0,0.396040
20,2,1492625,18961,0,Organic Dark Chocolate Pomegranate Trail Mix Bar,3,19,130.0,30.0,0.230769
21,2,1492625,23,0,Organic Turkey Burgers,49,12,1068.0,479.0,0.448502
22,2,1492625,32792,1,Chipotle Beef & Pork Realstick,23,19,1370.0,791.0,0.577372
23,2,1492625,1559,0,Cherry Pomegranate Greek Yogurt,120,16,6858.0,5023.0,0.732429
24,2,1492625,22559,1,Kitchen Cheese Enchilada,38,1,4446.0,2507.0,0.563878
25,2,1492625,13351,0,Total 0% Peach Yogurt,120,16,3686.0,2728.0,0.740098
26,2,1492625,47144,0,Unsweetened Original Almond Breeze Almond Milk,91,16,34583.0,24690.0,0.713935
27,2,1492625,45613,1,Pad Thai,38,1,5321.0,2710.0,0.509303
28,2,1492625,10305,0,Black Plum,24,4,9270.0,4873.0,0.525674
29,2,1492625,35917,0,Organic Just Concord Grape Juice,98,7,361.0,217.0,0.601108
...,...,...,...,...,...,...,...,...,...,...
8474631,206209,272231,40534,0,In Rich Tomato Sauce Vegetarian Beans,59,15,232.0,131.0,0.564655
8474632,206209,272231,2519,0,Rice Krispies Cereal,121,14,2751.0,1230.0,0.447110
8474633,206209,272231,10070,0,Organic 1% Low Fat Milk,84,16,12121.0,9750.0,0.804389
8474634,206209,272231,36056,0,Freezer Slider Bags,85,17,298.0,72.0,0.241611
8474635,206209,272231,12376,0,Sourdough Demi Baguette,112,3,67.0,25.0,0.373134
8474636,206209,272231,17500,0,Cinch Sak Extra Large 33 Gallon Trash Bags,60,17,272.0,79.0,0.290441
8474637,206209,272231,26209,0,Limes,24,4,140627.0,95768.0,0.681007
8474638,206209,272231,23909,0,2% Reduced Fat Milk,84,16,37091.0,28788.0,0.776145
8474639,206209,272231,48742,0,Quick 1 Minute Whole Grain Oats,130,14,1723.0,859.0,0.498549
8474640,206209,272231,2280,0,Ultra Downy Free & Gentle Liquid Fabric Condit...,75,17,530.0,267.0,0.503774
8474641,206209,272231,33129,0,Classic Hummus,67,20,12196.0,6436.0,0.527714
8474642,206209,272231,20073,0,Jazz Apple,24,4,1433.0,774.0,0.540126
8474643,206209,272231,20842,0,Total 0% Greek Yogurt,120,16,26154.0,18071.0,0.690946
8474644,206209,272231,4461,0,Organic Raw Unfiltered Apple Cider Vinegar,19,13,8408.0,2176.0,0.258801
8474645,206209,272231,20590,0,Disinfecting Wipes Fresh Scent,114,17,2288.0,831.0,0.363199
8474646,206209,272231,25837,0,Mini Babybel Light Semisoft Edam Cheeses,21,16,6638.0,4591.0,0.691624
8474647,206209,272231,4591,0,Quick 1 Minute Oatmeal,130,14,2335.0,848.0,0.363169
8474648,206209,272231,48370,0,Sensitive Toilet Paper,54,17,3934.0,2751.0,0.699288
8474649,206209,272231,755,0,Skim Milk sharp Cheddar Cheese Singles,21,16,231.0,123.0,0.532468
8474650,206209,272231,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555
8474651,206209,272231,14197,0,Tomato Paste,9,9,11279.0,3717.0,0.329550
8474652,206209,272231,5622,0,Cocktail Tomatoes on the Vine,123,4,291.0,192.0,0.659794
8474653,206209,272231,2295,0,Yellow Bell Pepper,83,4,25459.0,13777.0,0.541145
8474654,206209,272231,23800,0,Whole Grain Cereal,121,14,705.0,392.0,0.556028
8474655,206209,272231,40310,0,Oven Roasted Turkey Breast,96,20,20069.0,12792.0,0.637401
8474656,206209,272231,31477,0,High Protein Bar Chunky Peanut Butter,3,19,2879.0,1839.0,0.638763
8474657,206209,272231,28156,0,Total 0% Nonfat Plain Greek Yogurt,120,16,14549.0,8142.0,0.559626
8474658,206209,272231,41213,0,French Loaf,112,3,3375.0,2215.0,0.656296
8474659,206209,272231,890,0,Organic Diced Tomatoes,81,15,21997.0,10468.0,0.475883
8474660,206209,272231,23039,0,Fat Free Cream Cheese,108,16,691.0,413.0,0.597685

In [69]:
train_df = train_df.merge(Users, how='left', on='user_id')
train_df

,user_id,order_id,product_id,products,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate,user_total_products,user_unique_products,ordered_products_set,user_avg_orders_period,user_total_orders,user_avg_cart
0,1,1187899,17122,0,Honeycrisp Apples,24,4,13880.0,9377.0,0.675576,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
1,1,1187899,196,1,Soda,77,7,35791.0,27791.0,0.776480,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
2,1,1187899,26405,1,XL Pick-A-Size Paper Towel Rolls,54,17,1214.0,536.0,0.441516,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
3,1,1187899,46149,1,Zero Calorie Cola,77,7,8558.0,6953.0,0.812456,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
4,1,1187899,14084,0,Organic Unsweetened Vanilla Almond Milk,91,16,15935.0,12923.0,0.810982,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
5,1,1187899,13032,1,Cinnamon Toast Crunch,121,14,3751.0,2465.0,0.657158,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
6,1,1187899,26088,1,Aged White Cheddar Popcorn,23,19,2523.0,1360.0,0.539041,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
7,1,1187899,39657,1,Milk Chocolate Almonds,45,19,5019.0,3846.0,0.766288,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
8,1,1187899,12427,0,Original Beef Jerky,23,19,6476.0,4797.0,0.740735,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
9,1,1187899,25133,1,Organic String Cheese,21,16,6196.0,4586.0,0.740155,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
10,1,1187899,35951,0,Organic Unsweetened Almond Milk,91,16,57895.0,43875.0,0.757837,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
11,1,1187899,38928,1,0% Greek Strained Yogurt,120,16,13238.0,10958.0,0.827769,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
12,1,1187899,10258,1,Pistachios,117,19,1946.0,1389.0,0.713772,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
13,1,1187899,30450,0,Creamy Almond Butter,88,13,21490.0,12178.0,0.566682,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
14,1,1187899,49235,1,Organic Half & Half,53,16,76360.0,59672.0,0.781456,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
15,1,1187899,10326,0,Organic Fuji Apples,24,4,5526.0,3603.0,0.652009,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
16,1,1187899,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
17,1,1187899,41787,0,Bartlett Pears,24,4,35413.0,23015.0,0.649903,59,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636
18,2,1492625,45066,1,Honeycrisp Apple,24,4,79769.0,57818.0,0.724818,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
19,2,1492625,2573,0,Garlic Pepper Ramen,66,6,1212.0,480.0,0.396040,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
20,2,1492625,18961,0,Organic Dark Chocolate Pomegranate Trail Mix Bar,3,19,130.0,30.0,0.230769,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
21,2,1492625,23,0,Organic Turkey Burgers,49,12,1068.0,479.0,0.448502,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
22,2,1492625,32792,1,Chipotle Beef & Pork Realstick,23,19,1370.0,791.0,0.577372,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
23,2,1492625,1559,0,Cherry Pomegranate Greek Yogurt,120,16,6858.0,5023.0,0.732429,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
24,2,1492625,22559,1,Kitchen Cheese Enchilada,38,1,4446.0,2507.0,0.563878,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
25,2,1492625,13351,0,Total 0% Peach Yogurt,120,16,3686.0,2728.0,0.740098,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
26,2,1492625,47144,0,Unsweetened Original Almond Breeze Almond Milk,91,16,34583.0,24690.0,0.713935,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
27,2,1492625,45613,1,Pad Thai,38,1,5321.0,2710.0,0.509303,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
28,2,1492625,10305,0,Black Plum,24,4,9270.0,4873.0,0.525674,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
29,2,1492625,35917,0,Organic Just Concord Grape Juice,98,7,361.0,217.0,0.601108,195,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8474631,206209,272231,40534,0,In Rich Tomato Sauce Vegetarian Beans,59,15,232.0,131.0,0.564655,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474632,206209,272231,2519,0,Rice Krispies Cereal,121,14,2751.0,1230.0,0.447110,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474633,206209,272231,10070,0,Organic 1% Low Fat Milk,84,16,12121.0,9750.0,0.804389,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474634,206209,272231,36056,0,Freezer Slider Bags,85,17,298.0,72.0,0.241611,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474635,206209,272231,12376,0,Sourdough Demi Baguette,112,3,67.0,25.0,0.373134,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474636,206209,272231,17500,0,Cinch Sak Extra Large 33 Gallon Trash Bags,60,17,272.0,79.0,0.290441,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474637,206209,272231,26209,0,Limes,24,4,140627.0,95768.0,0.681007,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474638,206209,272231,23909,0,2% Reduced Fat Milk,84,16,37091.0,28788.0,0.776145,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474639,206209,272231,48742,0,Quick 1 Minute Whole Grain Oats,130,14,1723.0,859.0,0.498549,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474640,206209,272231,2280,0,Ultra Downy Free & Gentle Liquid Fabric Condit...,75,17,530.0,267.0,0.503774,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474641,206209,272231,33129,0,Classic Hummus,67,20,12196.0,6436.0,0.527714,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474642,206209,272231,20073,0,Jazz Apple,24,4,1433.0,774.0,0.540126,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474643,206209,272231,20842,0,Total 0% Greek Yogurt,120,16,26154.0,18071.0,0.690946,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474644,206209,272231,4461,0,Organic Raw Unfiltered Apple Cider Vinegar,19,13,8408.0,2176.0,0.258801,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474645,206209,272231,20590,0,Disinfecting Wipes Fresh Scent,114,17,2288.0,831.0,0.363199,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474646,206209,272231,25837,0,Mini Babybel Light Semisoft Edam Cheeses,21,16,6638.0,4591.0,0.691624,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474647,206209,272231,4591,0,Quick 1 Minute Oatmeal,130,14,2335.0,848.0,0.363169,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474648,206209,272231,48370,0,Sensitive Toilet Paper,54,17,3934.0,2751.0,0.699288,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474649,206209,272231,755,0,Skim Milk sharp Cheddar Cheese Singles,21,16,231.0,123.0,0.532468,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474650,206209,272231,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474651,206209,272231,14197,0,Tomato Paste,9,9,11279.0,3717.0,0.329550,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474652,206209,272231,5622,0,Cocktail Tomatoes on the Vine,123,4,291.0,192.0,0.659794,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474653,206209,272231,2295,0,Yellow Bell Pepper,83,4,25459.0,13777.0,0.541145,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474654,206209,272231,23800,0,Whole Grain Cereal,121,14,705.0,392.0,0.556028,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474655,206209,272231,40310,0,Oven Roasted Turkey Breast,96,20,20069.0,12792.0,0.637401,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474656,206209,272231,31477,0,High Protein Bar Chunky Peanut Butter,3,19,2879.0,1839.0,0.638763,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474657,206209,272231,28156,0,Total 0% Nonfat Plain Greek Yogurt,120,16,14549.0,8142.0,0.559626,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474658,206209,272231,41213,0,French Loaf,112,3,3375.0,2215.0,0.656296,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474659,206209,272231,890,0,Organic Diced Tomatoes,81,15,21997.0,10468.0,0.475883,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286
8474660,206209,272231,23039,0,Fat Free Cream Cheese,108,16,691.0,413.0,0.597685,129,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286

In [70]:
train_df = train_df.merge(orders, how='left', on=['user_id','order_id'])
train_df

,user_id,order_id,product_id,products,product_name,aisle_id,department_id,product_orders,product_reorders,product_reorder_rate,...,user_unique_products,ordered_products_set,user_avg_orders_period,user_total_orders,user_avg_cart,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,1187899,17122,0,Honeycrisp Apples,24,4,13880.0,9377.0,0.675576,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
1,1,1187899,196,1,Soda,77,7,35791.0,27791.0,0.776480,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
2,1,1187899,26405,1,XL Pick-A-Size Paper Towel Rolls,54,17,1214.0,536.0,0.441516,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
3,1,1187899,46149,1,Zero Calorie Cola,77,7,8558.0,6953.0,0.812456,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
4,1,1187899,14084,0,Organic Unsweetened Vanilla Almond Milk,91,16,15935.0,12923.0,0.810982,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
5,1,1187899,13032,1,Cinnamon Toast Crunch,121,14,3751.0,2465.0,0.657158,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
6,1,1187899,26088,1,Aged White Cheddar Popcorn,23,19,2523.0,1360.0,0.539041,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
7,1,1187899,39657,1,Milk Chocolate Almonds,45,19,5019.0,3846.0,0.766288,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
8,1,1187899,12427,0,Original Beef Jerky,23,19,6476.0,4797.0,0.740735,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
9,1,1187899,25133,1,Organic String Cheese,21,16,6196.0,4586.0,0.740155,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
10,1,1187899,35951,0,Organic Unsweetened Almond Milk,91,16,57895.0,43875.0,0.757837,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
11,1,1187899,38928,1,0% Greek Strained Yogurt,120,16,13238.0,10958.0,0.827769,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
12,1,1187899,10258,1,Pistachios,117,19,1946.0,1389.0,0.713772,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
13,1,1187899,30450,0,Creamy Almond Butter,88,13,21490.0,12178.0,0.566682,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
14,1,1187899,49235,1,Organic Half & Half,53,16,76360.0,59672.0,0.781456,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
15,1,1187899,10326,0,Organic Fuji Apples,24,4,5526.0,3603.0,0.652009,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
16,1,1187899,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
17,1,1187899,41787,0,Bartlett Pears,24,4,35413.0,23015.0,0.649903,...,18,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",19.000000,11,5.363636,train,11,4,8,14.0
18,2,1492625,45066,1,Honeycrisp Apple,24,4,79769.0,57818.0,0.724818,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
19,2,1492625,2573,0,Garlic Pepper Ramen,66,6,1212.0,480.0,0.396040,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
20,2,1492625,18961,0,Organic Dark Chocolate Pomegranate Trail Mix Bar,3,19,130.0,30.0,0.230769,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
21,2,1492625,23,0,Organic Turkey Burgers,49,12,1068.0,479.0,0.448502,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
22,2,1492625,32792,1,Chipotle Beef & Pork Realstick,23,19,1370.0,791.0,0.577372,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
23,2,1492625,1559,0,Cherry Pomegranate Greek Yogurt,120,16,6858.0,5023.0,0.732429,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
24,2,1492625,22559,1,Kitchen Cheese Enchilada,38,1,4446.0,2507.0,0.563878,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
25,2,1492625,13351,0,Total 0% Peach Yogurt,120,16,3686.0,2728.0,0.740098,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
26,2,1492625,47144,0,Unsweetened Original Almond Breeze Almond Milk,91,16,34583.0,24690.0,0.713935,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
27,2,1492625,45613,1,Pad Thai,38,1,5321.0,2710.0,0.509303,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
28,2,1492625,10305,0,Black Plum,24,4,9270.0,4873.0,0.525674,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
29,2,1492625,35917,0,Organic Just Concord Grape Juice,98,7,361.0,217.0,0.601108,...,102,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",16.285714,15,13.000000,train,15,1,11,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8474631,206209,272231,40534,0,In Rich Tomato Sauce Vegetarian Beans,59,15,232.0,131.0,0.564655,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474632,206209,272231,2519,0,Rice Krispies Cereal,121,14,2751.0,1230.0,0.447110,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474633,206209,272231,10070,0,Organic 1% Low Fat Milk,84,16,12121.0,9750.0,0.804389,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474634,206209,272231,36056,0,Freezer Slider Bags,85,17,298.0,72.0,0.241611,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474635,206209,272231,12376,0,Sourdough Demi Baguette,112,3,67.0,25.0,0.373134,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474636,206209,272231,17500,0,Cinch Sak Extra Large 33 Gallon Trash Bags,60,17,272.0,79.0,0.290441,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474637,206209,272231,26209,0,Limes,24,4,140627.0,95768.0,0.681007,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474638,206209,272231,23909,0,2% Reduced Fat Milk,84,16,37091.0,28788.0,0.776145,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474639,206209,272231,48742,0,Quick 1 Minute Whole Grain Oats,130,14,1723.0,859.0,0.498549,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474640,206209,272231,2280,0,Ultra Downy Free & Gentle Liquid Fabric Condit...,75,17,530.0,267.0,0.503774,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474641,206209,272231,33129,0,Classic Hummus,67,20,12196.0,6436.0,0.527714,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474642,206209,272231,20073,0,Jazz Apple,24,4,1433.0,774.0,0.540126,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474643,206209,272231,20842,0,Total 0% Greek Yogurt,120,16,26154.0,18071.0,0.690946,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474644,206209,272231,4461,0,Organic Raw Unfiltered Apple Cider Vinegar,19,13,8408.0,2176.0,0.258801,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474645,206209,272231,20590,0,Disinfecting Wipes Fresh Scent,114,17,2288.0,831.0,0.363199,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474646,206209,272231,25837,0,Mini Babybel Light Semisoft Edam Cheeses,21,16,6638.0,4591.0,0.691624,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474647,206209,272231,4591,0,Quick 1 Minute Oatmeal,130,14,2335.0,848.0,0.363169,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474648,206209,272231,48370,0,Sensitive Toilet Paper,54,17,3934.0,2751.0,0.699288,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474649,206209,272231,755,0,Skim Milk sharp Cheddar Cheese Singles,21,16,231.0,123.0,0.532468,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474650,206209,272231,13176,0,Bag of Organic Bananas,24,4,379450.0,315913.0,0.832555,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474651,206209,272231,14197,0,Tomato Paste,9,9,11279.0,3717.0,0.329550,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474652,206209,272231,5622,0,Cocktail Tomatoes on the Vine,123,4,291.0,192.0,0.659794,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474653,206209,272231,2295,0,Yellow Bell Pepper,83,4,25459.0,13777.0,0.541145,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474654,206209,272231,23800,0,Whole Grain Cereal,121,14,705.0,392.0,0.556028,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474655,206209,272231,40310,0,Oven Roasted Turkey Breast,96,20,20069.0,12792.0,0.637401,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474656,206209,272231,31477,0,High Protein Bar Chunky Peanut Butter,3,19,2879.0,1839.0,0.638763,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474657,206209,272231,28156,0,Total 0% Nonfat Plain Greek Yogurt,120,16,14549.0,8142.0,0.559626,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474658,206209,272231,41213,0,French Loaf,112,3,3375.0,2215.0,0.656296,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474659,206209,272231,890,0,Organic Diced Tomatoes,81,15,21997.0,10468.0,0.475883,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0
8474660,206209,272231,23039,0,Fat Free Cream Cheese,108,16,691.0,413.0,0.597685,...,68,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",18.461538,14,9.214286,train,14,6,14,30.0

### 모든 데이터 통합 완료 & 사용할 attribute 선정

In [73]:
features = [
    # product information
    'aisle_id', 'department_id', 'product_orders', 'product_reorders', 'product_reorder_rate', 
    # user information
    'user_total_products', 'user_unique_products', 'user_avg_orders_period', 'user_total_orders', 'user_avg_cart', 
    # order information
    'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [74]:
train_X = train_df[features]
train_y = train_df['products']

# 4. Test Data Generation

In [77]:
test_df = frame_test.copy()
test_df = test_df.merge(Products, how='left', on='product_id')
test_df = test_df.merge(Users, how='left', on='user_id')
test_df = test_df.merge(orders, how='left', on=['user_id','order_id'])

In [78]:
test_X = test_df[features]

# 5. Learning & Prediction

In [80]:
import lightgbm as lgb

In [82]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss'},
    'num_leaves': 96,
    'max_depth': 10,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5
}
ROUNDS = 100

### Learning

In [84]:
train_X_ds = lgb.Dataset(train_X, label=train_y, categorical_feature=['aisle_id','department_id'])

In [85]:
bst = lgb.train(params, train_X_ds, ROUNDS)

### Prediction

In [95]:
result = bst.predict(test_X)

In [109]:
result = pd.concat([frame_test,pd.DataFrame(result, columns=['predict'])], axis=1)

In [110]:
result.head()

   user_id  order_id  product_id   predict
0        1   1187899       17122  0.334351
1        1   1187899         196  0.462357
2        1   1187899       26405  0.211847
3        1   1187899       46149  0.499080
4        1   1187899       14084  0.488185

# 6. Prediction Probability 기반 최종 products list 생성

In [127]:
TRESHOLD = 0.22

d = dict()
for row in result.itertuples():
    if row.predict > TRESHOLD:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in orders[orders.eval_set == 'test'].order_id:
    if order not in d:
        d[order] = 'None'

97256

In [125]:
output = pd.DataFrame.from_dict(d, orient='index')
output.reset_index(inplace=True)
output.columns = ['order_id', 'products']
output

        order_id                                           products
0        1572864     47626 21903 24852 19348 33198 21709 5077 13176
1        2359297                                              24852
2        1572866                                               None
3        1089377                                               None
4              1  30881 14947 11109 44359 5707 43633 42001 22035...
5         699052                                               None
6         262154                            47209 21137 24852 13176
7         786443                                               None
8        3145741                                               None
9        1310734                                              42450
10       1310735                                        24852 20082
11       2621456                                               None
12            17                                               None
13       1310738                                               None
14       1310739                       37350 2120 10409 34234 48370
15        113478                                               None
16       1878702                                               None
17        480601                                              13176
18       1835032                                               None
19       2883611                                              13176
20       2359324                 17316 35628 21137 3896 13176 43122
21        262173                                               None
22       2621470                      21137 27845 47209 19057 13176
23       2097183  26165 5212 19057 21137 27845 19660 16611 24852...
24       1048608                       24852 1940 14999 27966 13176
25       2359329                                              24852
26       2621474                                              10831
27       1835044                                               None
28       1572901                                        24852 13176
29            38                                         1940 47766
...          ...                                                ...
172226   1048532                                               None
172227   1048534                                        24852 44632
172228    262103                  47209 21137 11520 329 13176 21903
172229    524248                 26209 24964 43086 46990 40156 3957
172230    786393                                               None
172231   2097115                                               None
172232   2359260                                  27845 24852 13176
172233   1048541                                        27845 24852
172234   3011499                                               None
172235   1048543  28204 14917 5212 26209 7781 47209 21616 40571 ...
172236    916548  2057 28692 45588 30764 28204 31808 40028 26209...
172237    438111                                               None
172238   2359291                                               None
172239   2883556                                               None
172240   1485478                                               None
172241   1660241                                               None
172242   1441788  40706 43662 21903 21137 35221 47766 14870 3048...
172243   2359276                                               None
172244   1834989                                  29447 14947 13176
172245   1030026                                               None
172246   1441789  40706 24964 38662 47626 21903 21267 47766 3048...
172247   1834996                                              24852
172248   1048565                                               None
172249   1310711                                        24852 13176
172250   2097145                              17122 21903 432 45588
172251   1966079                                               None
172252    262140  21903 21009 20113 24852 17429 47766 30489 1794...
172253   1998950                                               None
172254    262142    30233 44632 19057 27845 13166 14702 13176 21903
172255   2839893                      21903 21137 27966 17871 47209

[172256 rows x 2 columns]

In [117]:
output.to_csv('submission/baseline.csv', index=False)